spring:
  application:
    name: marketing-user-profile-server

  datasource:
    url: jdbc:mariadb://localhost:3306/marketing-user-profile?userSSL=false
    username: tod
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      connection-timeout: 20000
      minimum-idle: 10
      maximum-pool-size: 10
      idle-timeout: 300000
      pool-name: marketingHikariCP
